.btn {
  display: block;
  /* font-size: 10px; */
  width: 104%;
  margin: 10px;
  border-radius: 7px;
  padding: 8px 15px 8px 15px;
  background: #f2f2f2;
  font-family: victor mono;
  font-weight: 700;
}

.btn:hover {
  outline: 0;
  color: red;
  background-color: #aed8f0;
  font-weight: bold;
  text-decoration: underline;
  font-family: victor mono;
  font-weight: 700;
  cursor: pointer;
}

#jethalal {
  /* width: 50px; */
  /* height: 42px; */
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: victor mono;
  background-color: black;
  cursor: pointer;
  /* width: 17%;
  height: 40px; */
  margin: 10px 0px;
}

/* #music {
  margin-left: 11%;
} */
#jethalal:hover {
  /* width: 50px; */
  /* height: 42px; */
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: victor mono;
  transform: scale(1.2);
}
